 {{> theme_fordson/fronttemplate/head }}


<body class="">
<div id="wrapper" class="clearfix">

    {{> theme_fordson/fronttemplate/loader }}
	{{> theme_fordson/fronttemplate/header }}
    <div class="main-content">
    <section id="home">
	{{> theme_fordson/fronttemplate/slider }}
	{{> theme_fordson/fronttemplate/top-block }}
	{{> theme_fordson/fronttemplate/welcome }}	
	{{> theme_fordson/fronttemplate/faq }}
	{{> theme_fordson/fronttemplate/blog }}

	
    <section class="clients bg-theme-colored">
      <div class="container pt-10 pb-0 pt-sm-0 pb-sm-0">
        <div class="row">
          <div class="col-md-12">
				<h2	class="text-white text-center" style="padding-bottom: 15px;">Shonirbhor Marching Towards Self Reliance, Build your career with us
					<a href="#" class="btn btn-dark btn-flat"><i class="fa fa-graduation-cap"></i> APPLY NOW</a>
				</h2>
          </div>
        </div>
      </div>
    </section>         
    </div>
 {{> theme_fordson/fronttemplate/footer }}
</div>

 

<link href="{{theme_url}}/templates/front/css/style.css" rel="stylesheet" type="text/css">


<!-- Footer Scripts --> 
<script src="{{theme_url}}/templates/front/js/custom.js"></script>
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script type="text/javascript" src="{{theme_url}}/templates/front/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>
<style>
	.tp-caption.boxshadow, .boxshadow{
		box-shadow: none !Important;
	}
</style>
</html>
 