  <section class="clients bg-theme-colored">
      <div class="container pt-10 pb-0 pt-sm-0 pb-sm-0">
        <div class="row">
          <div class="col-md-12">
				<h2	class="text-white text-center" style="padding-bottom: 15px;">{{ output.tag_line }}, Build your career with us
					<a href="https://elearner.ghitbd.com/lms/login/signup.php" class="btn btn-dark btn-flat"><i class="fa fa-graduation-cap"></i> APPLY NOW</a>
				</h2>
          </div>
        </div>
      </div>
    </section>  