{{!
    Blog.
}}
{{! Section: Course }}
<section id="blog">
  <div class="container pb-70 pt-60 pb-sm-20">
    <div class="section-title text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="mt-10 line-height-1 text-uppercase">Running Course</span></h2>
          <p class="mb-0">Golden Harvest InfoTech Ltd. is a multidisciplinary outsourcing company<br>specializing in document digitization.</p>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
          <article class="post clearfix mb-sm-30">
            <div class="entry-header">
              <div class="post-thumb thumb">
                <img src="{{theme_url}}/templates/front/images/blog/1.jpg" alt="" class="img-responsive img-fullwidth img-thumbnail">
              </div>
            </div>
            <div class="entry-content p-20 pr-10">
              <div class="entry-meta media mt-0 no-bg no-border">
                <div class="media-body">
                  <div class="event-content pull-left flip">
                    <h4 class="entry-title text-white text-capitalize m-0"><a href="#">English</a></h4>
                  </div>
                </div>
              </div>
              <p class="mt-10 text-justify">The main objective is to provide all the necessary training that is needed to work properly. People with a good command in English and proper computer knowledge are given priority for conditional participation to this program.</p>
              <div class="mt-10"> <a href="blog-single-left-sidebar.html" class="btn btn-theme-colored btn-sm btn-flat">Read More</a> </div>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
          <article class="post clearfix mb-sm-30">
            <div class="entry-header">
              <div class="post-thumb thumb">
                <img src="{{theme_url}}/templates/front/images/blog/3.jpg" alt="" class="img-responsive img-fullwidth img-thumbnail">
              </div>
            </div>
            <div class="entry-content p-20 pr-10">
              <div class="entry-meta media mt-0 no-bg no-border">
                <div class="media-body">
                  <div class="event-content pull-left flip">
                    <h4 class="entry-title text-white text-capitalize m-0"><a href="#">Russian</a></h4>
                  </div>
                </div>
              </div>
              <p class="mt-10 text-justify">Russians do use the “usual alphabet.” The Cyrillic alphabet was introduced in the Slavic nations starting in the ninth century. The Cyrillic script was designed to be used with Slavic languages, because it was specifically designed with them, and their unique sound combinations.</p>
              <div class="mt-10"> <a href="blog-single-left-sidebar.html" class="btn btn-theme-colored btn-sm btn-flat">Read More</a> </div>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 wow mb-sm-0  fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
          <article class="post clearfix mb-sm-30">
            <div class="entry-header">
              <div class="post-thumb thumb">
                <img src="{{theme_url}}/templates/front/images/blog/1.jpg" alt="" class="img-responsive img-fullwidth img-thumbnail">
              </div>
            </div>
            <div class="entry-content p-20 pr-10">
              <div class="entry-meta media mt-0 no-bg no-border">
                <div class="media-body">
                  <div class="event-content pull-left flip">
                    <h4 class="entry-title text-white text-capitalize m-0"><a href="#">Spanish</a></h4>
                  </div>
                </div>
              </div>
              <p class="mt-10 text-justify">The main objective is to provide all the necessary training that is needed to work properly. People with a good command in English and proper computer knowledge are given priority for participation to this Spanish Training program. Mostly Spanish documents have been written in English Alphabet.</p>
              <div class="mt-10"> <a href="blog-single-left-sidebar.html" class="btn btn-theme-colored btn-sm btn-flat">Read More</a> </div>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>