<!DOCTYPE html>
<html dir="ltr" lang="en">


<head>

{{! Meta Tags }}
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Shonirbhor, eLearning System" />
<meta name="keywords" content="Shonirbhor Marching Towards Self-Reliance" />
<meta name="author" content="Golden Harvest InfoTech Limited" />

{{! Page Title }}
<title>Shonirbhor || eLearning System</title>
<link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}

<!-- Favicon and Touch Icons -->
<link href="{{theme_url}}/templates/front/images/favicon.png" rel="shortcut icon" type="image/png">

<!-- Stylesheet -->
<link href="{{theme_url}}/templates/front/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{theme_url}}/templates/front/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="{{theme_url}}/templates/front/css/animate.css" rel="stylesheet" type="text/css">
<link href="{{theme_url}}/templates/front/css/css-plugin-collections.css" rel="stylesheet"/>
<link id="menuzord-menu-skins" href="{{theme_url}}/templates/front/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
<link href="{{theme_url}}/templates/front/css/style-main.css" rel="stylesheet" type="text/css">
<link href="{{theme_url}}/templates/front/css/preloader.css" rel="stylesheet" type="text/css">
<link href="{{theme_url}}/templates/front/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<link href="{{theme_url}}/templates/front/css/responsive.css" rel="stylesheet" type="text/css">
<link  href="{{theme_url}}/templates/front/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>
<link  href="{{theme_url}}/templates/front/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
<link  href="{{theme_url}}/templates/front/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>
<link href="{{theme_url}}/templates/front/css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css">
<script src="{{theme_url}}/templates/front/js/jquery-2.2.4.min.js"></script>
<script src="{{theme_url}}/templates/front/js/jquery-ui.min.js"></script>
<script src="{{theme_url}}/templates/front/js/bootstrap.min.js"></script>
<script src="{{theme_url}}/templates/front/js/jquery-plugin-collection.js"></script>
<script src="{{theme_url}}/templates/front/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="{{theme_url}}/templates/front/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>