    {{! Section: welcome }}
    <section>
      <div class="pt-0 pb-0">
        <div class="section-content">
          <div class="row equal-height-inner mt-sm-0" data-margin-top="-150px">
            <div class="col-sm-12 col-md-6 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1" style="background-color: rgba(0,0,0,0.4)">
              <div class="sm-height-auto">
                <div class="p-20">
                  <h3 class="text-white text-uppercase">{{home_settings.topheading1}}</h3>
                  <div class="clearfix">
                  </div>
                  <p class="text-white-f1 mt-10 lead">{{home_settings.topdescription1}}</p>
                  <a href="{{theme_url}}/layout/{{home_settings.toplink1}}" class="btn btn-default font-14 btn-theme-colored mt-10 hvr-bounce-to-left no-border btn-dark">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 pl-0 pl-sm-15 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay2" style="background-color: rgba(0,0,0,0.7)">
              <div class="sm-height-auto">
                <div class="p-30">
                  <h3 class="text-white text-uppercase">{{home_settings.topheading2}}</h3>
                  <p class="lead text-white-f1">{{home_settings.topdescription2}}</p>
                     <a href="{{theme_url}}/layout/{{home_settings.toplink1}}" class="btn btn-default font-14 btn-theme-colored mt-10 hvr-bounce-to-left no-border btn-dark">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>