<style>
	.bg-black-333 {
		background-color: #ffff !important;
	}
	.bg-theme-colored {
		background-color: #7da322 !important;
	}
	.btn-theme-colored{
		background-color: #7da322 !important;
	}
	.panel-group .panel-title a.active {
		background-color: #92c024 !important;
	}
	.panel-group .panel-title a.active::after {
		background-color: #7da322!important;
	}
	.bg-theme-color-2 {
		background: #e4d419 !important;
	}
	.menuzord .menuzord-menu > li.active > a, .menuzord .menuzord-menu > li:hover > a, .menuzord .menuzord-menu ul.dropdown li:hover > a {
		background: #e4d419 none repeat scroll 0 0;
		color: #fff;
	}
	.btn-theme-colored {
		border-color: #7da322 !important;
	}

	.bg-theme-colored-transparent, .piechart-block {
		background-color: #6c8e1a !important;
	}
	.border-left-theme-color-2-6px {
		border-left: 6px solid #e3d41a!important;
	}
	.border-right-theme-color-2-6px {
		border-right: 6px solid #e3d41a !important;
	}
	.hvr-bounce-to-left:before{background-color: #e4d419 !important;}
</style>